{% load static %}
<footer class="site-footer site-footer-two">
    <div class="container">
        <!-- Footer Top -->
        <div class="site-footer__top">
            <div class="row">
                <!-- About Section -->
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__about">
                        <div class="footer-widget__logo">
                            <a href="{% url 'index' %}"><img src="{% static 'assets/images/resources/ingrids_logo.png' %}" alt="Logo"></a>
                        </div>
                        <p class="footer-widget__about-text">
                            Empowering individuals with clarity, guidance, and transformative insights to align with their true purpose.
                        </p>
                        <div class="footer-widget__social-box">
                            <h4 class="footer-widget__social-title">Follow Us</h4>
                            <div class="site-footer__social">
                                <a href="https://api.whatsapp.com/send?phone=https://wa.me/34951215346" target="_blank" style="color: #BC9E82; font-size: 16px; margin-right: 10px; background-color:blanchedalmond;"><i class="fab fa-whatsapp"></i></a>
                                <a href="mailto:ingrid@ingridcruysberghs.net" target="_blank" style="color: #BC9E82; font-size: 16px; margin-right: 10px; background-color:blanchedalmond;"><i class="fa fa-envelope"></i></a>
                                <a href="https://www.instagram.com/ingridcruysberghs/" target="_blank" style="color: #BC9E82; font-size: 16px; margin-right: 10px; background-color:blanchedalmond;"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.facebook.com/ingrid.cruysberghswouters/" target="_blank" style="color: #BC9E82; font-size: 16px; margin-right: 10px; background-color:blanchedalmond;"><i class="fab fa-facebook"></i></a>
                                <a href="https://www.linkedin.com/in/ingrid-cruysberghs-b982ba67/" target="_blank" style="color: #BC9E82; font-size: 16px; margin-right: 10px; background-color:blanchedalmond;"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contact Section -->
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__contact">
                        <div class="footer-widget__title-box">
                            <h4 class="footer-widget__title">Contact</h4>
                        </div>
                        <ul class="list-unstyled footer-widget__contact-list">
                            <li>
                                <div class="icon"><i class="fas fa-envelope"></i></div>
                                <div class="text">
                                    <p><a href="mailto:ingrid@ingridcruysberghs.net">ingrid@ingridcruysberghs.net</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                                <div class="text">
                                    <p>Mallin Street NY 105</p>
                                </div>
                            </li>
                        </ul>
                        <div class="footer-widget__open-hours">
                            <h5>Open Hours</h5>
                            <p>Mon – Sat: 8:00 am to 6:00 pm <br> Sunday: Closed</p>
                        </div>
                    </div>
                </div>
                
                <!-- Appointment Section -->
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="footer-widget__column footer-widget__appointment">
                        <div class="footer-widget__appointment-box">
                            <p class="footer-widget__appointment-sub-title">Contact Us</p>
                            <h5 class="footer-widget__appointment-title">Reach Out Anytime</h5>
                            <form method="post" action="#">
                                {% csrf_token %}
                                <div class="footer-widget__appointment-input-box">
                                    <input type="text" name="name" placeholder="Full Name">
                                </div>
                                <div class="footer-widget__appointment-input-box">
                                    <input type="text" name="email" placeholder="Email">
                                </div>
                                <div class="footer-widget__appointment-input-box">
                                    <textarea name="message" placeholder="Write Message"></textarea>
                                </div>
                                <div class="footer-widget__appointment-btn-box">
                                    <button type="submit" class="thm-btn footer-widget__appointment-btn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="site-footer__bottom">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text">
                            © All Copyright 2023 by <a href="{% url 'index' %}">ingridcruysberghs.com</a>
                        </p>
                        <ul class="list-unstyled site-footer__bottom-menu">
                            <li><a href="#">Terms & Condition</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
